<nav class="columns m0 is-centered is-gapless">
  <div class="nav-item"><a routerLinkActive="active" routerLink="dogs" class="c">Dogs</a></div>
  <div class="nav-item"><a routerLinkActive="active" routerLink="cats" class="c">Cats</a></div>
  <div class="nav-item"><a routerLinkActive="active" routerLink="birds" class="c">Birds</a></div>
  <div class="nav-item"><a routerLinkActive="active" routerLink="people" class="c">People</a></div>
  <div class="nav-item"><a routerLinkActive="active" routerLink="killerwhales" class="c">Killer Whales</a></div>
  <div class="nav-item"><a routerLinkActive="active" routerLink="giraffe" class="c">Giraffes</a></div>
  <div class="nav-item"><a routerLinkActive="active" routerLink="lion" class="c">Lion</a></div>
  <div class="nav-item"><a routerLinkActive="active" routerLink="search" class="c">Search</a></div>
  

  <div class="nav-item"><a routerLinkActive="active" routerLink="ostrich" class="c">Ostrich</a></div>
</nav>

<div class="content-container">
  <div class="container p2em">
    <router-outlet></router-outlet>
  </div>
</div>
